```
# Android build outputs
*.apk
*.aar
*.ap_
app/build/
build/

# Android Studio
.idea/
*.iml
*.iws
*.hprof
captures/
.code-workspace

# Gradle
.gradle/
!gradle.properties
!gradlew
!gradlew.bat

# Local configuration file (sdk path, etc)
local.properties

# Log Files
*.log

# Android profiling
*.trace

# Unit test results
test-results/
```